[submodule "lib/libsoundio"]
	path = lib/libsoundio
	url = https://github.com/andrewrk/libsoundio.git
[submodule "lib/nanogui"]
	path = lib/nanogui
	url = https://github.com/mitsuba-renderer/nanogui.git
[submodule "lib/fmt"]
	path = lib/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "lib/ogg-vorbis"]
	path = lib/ogg-vorbis
	url = https://github.com/Iunusov/OGG-Vorbis-CMAKE.git
